<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Network" value="Main"/>
    <add key="BaseUrl" value="http://api.qbit.ninja/"/>
    <add key="Address" value="1BFmJLs9tqRUXyXTdZdHMqF3XgJmRoQQNr"/>
    <add key="NumberOfTries" value="3"/>
    <add key="OutputDir" value="D:\logs"/>
    <add key="RequiredConfirmations" value="100"/>
  </appSettings>
</configuration>