<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ExplorerUrl" value="https://api.zcha.in/v2/mainnet"/>
    <add key="ZCashAddress" value=""/>
    <add key="NumberOfTries" value="1"/>
    <add key="OutputDir" value=" D:\Temp\"/>
    <add key="GetInterval" value="20"/>
  </appSettings>
</configuration>