<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ZCashAddress" value=""/>
    <add key="DesiredSourceAddress" value=""/>
    <add key="OutputDir" value=" D:\Temp\"/>
  </appSettings>
</configuration>